body {
  background: #76c;
  color: #fff;
}

a {
  color: #fcf;
  outline: 0 none;
  text-decoration: none;
  text-rendering: optimizelegibility;
}

a:focus,
a:active,
a:hover {
  outline: 0 none;
  color: white;
}

a:active {
  padding-top: 2px;
}