body {
  color: white;
  background: -webkit-radial-gradient(center, ellipse, #2aa9e0 0%, #01070a 100%);
  background: radial-gradient(ellipse at center, #2aa9e0 0%, #01070a 100%);
}

.intro {
  margin: 20vw auto 0vw;
  width: 80%;
  color: #fffae9;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 2px solid #fff;
  font-size: 8vw;
}

.tagline {
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 3vw;
  margin: 2vw auto 10vw;
}

.subline {
  font-size: 2.5vw;
  margin: 20vw auto 0vw;
  width: 80%;
  color: #fff;
  text-align: center;
  padding-bottom: 10px;
}

#tv {
  position: relative;
  margin: 6vw auto;
  width: 50vw;
  height: 31vw;
  border: .6vw solid #aaa;
  background: #0af;
  border-radius: 5%;
  padding: 1vw;
  animation: tv .05s linear infinite;
  -webkit-animation: tv .05s linear infinite;
}

.antenna-left {
  position: absolute;
  left: 16vw;
  top: -2vw;
  width: 8vw;
  height: .4vw;
  background: #aaa;
  transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
}

.antenna-right {
  position: absolute;
  left: 23vw;
  top: -2vw;
  width: 8vw;
  height: .4vw;
  background: #aaa;
  transform: rotate(330deg);
  -webkit-transform: rotate(-30deg);
}

.frame {
  float: left;
  display: inline;
  width: 38vw;
  height: 30vw;
  background: #5e411b;
  border-radius: 5%;
  border: .4vw solid #000;
}

.mask {
  position: relative;
  z-index: 2;
  margin-left: .4vw;
  width: 38vw;
  height: 30.2vw;
  border-radius: 5%;
  background: -webkit-radial-gradient(transparent, rgba(0, 0, 0, 0.1), black);
  background: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3), #000000);
  animation: mask .1s infinite;
  -webkit-animation: mask .1s infinite;
}

.screen {
  width: 36vw;
  height: 28vw;
  background: #ccc;
  overflow: hidden;
  display: block;
  border-radius: 50% / 18%;
  border: .2vw solid #666;
  position: relative;
  margin: 1vw;
  z-index: 1;
}

.channel-f2e {
  position: absolute;
  top: 6vw;
  right: 16vw;
  color: #999;
  font-size: 2vw;
  z-index: 10;
}

.control-area {
  float: left;
  margin: -29.8vw 0 0 1vw;
  width: 10vw;
  height: 20vw;
  background: #555;
  border-radius: 5%;
}

.switch-vu,
.switch-ch {
  width: 6vw;
  height: 6vw;
  background: #aaa;
  border-radius: 10vw;
  margin: 2vw auto;
}

.switch-vu-bar,
.switch-ch-bar {
  float: left;
  margin: 2vw 0;
  width: 6vw;
  height: 1.4vw;
  background: #eee;
  border-bottom: .2vw solid #ccc;
}

.switch-vu-bar {
  transform: rotate(24deg);
  animation: switchVu 2s infinite;
  -webkit-animation: switchVu 2s infinite;
}

.switch-ch-bar {
  transform: rotate(300deg);
  animation: switchCh 5s infinite;
  -webkit-animation: switchCh 5s infinite;
}

.voice-box {
  margin: 6vw auto;
  width: 6vw;
}

.voice-box01 {
  width: 100%;
  height: .4vw;
  background: #aaa;
}

.voice-box02 {
  width: 100%;
  height: .6vw;
  background: #666;
  border-bottom: .2vw solid #ccc;
}

.pic-animate {
  width: 100%;
  height: 30vw;
  background-image: url("https://raw.githubusercontent.com/bubblin/Demo-In-Sixty-Seconds/master/page-1/images/movie-strip.jpg");
  background-size: cover;
  background-repeat: repeat-x;
  background-position: left top;
  animation: screen 20s linear infinite;
  -webkit-animation: screen 20s linear infinite;
}

@-webkit-keyframes screen {
  from {
    background-position: 0 top;
  }
  to {
    background-position: 100% top;
  }
}

@-webkit-keyframes mask {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.8;
  }
}

@-webkit-keyframes tv {
  from {
    transform: rotate(-.5deg);
  }
  to {
    transform: rotate(.5deg);
  }
}

@-webkit-keyframes switchVu {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes switchCh {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes screen {
  from {
    background-position: 0 top;
  }
  to {
    background-position: 100% top;
  }
}

@keyframes mask {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.8;
  }
}

@keyframes tv {
  from {
    transform: rotate(-.5deg);
  }
  to {
    transform: rotate(.5deg);
  }
}

@keyframes switchVu {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes switchCh {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}