body {
  margin: 0 0;
  overflow: hidden;
  font: 3.2vw/1.2 'EB Garamond', serif;
  color: #666;
  height:100vh;
  width: 100vw;
  overflow:hidden;
  background: white;
}

.leaf {
  height: 100%;
  height: 100vh;
  width: 80%;
  margin: auto;
}

.inner {
  margin: 6vw auto;
  text-align: center;
}

.flex {
  display: -webkit-box;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

h1, h2, h3 {
  margin: 4vw 0;
  padding: 0;
  font-family: 'Chewy', sans-serif;
  width: 100%;
  text-align: center;
}

h1 {
  font-size: 6vw;
}

h2 {
  font-size: 5vw;
}

h3 {
  font-size: 4vw;
}

a {
  color: #5af;
  outline: 0 none;
  text-decoration: none;
  text-rendering: optimizelegibility;
}

a:focus,
a:active,
a:hover {
  outline: 0 none;
}

.justify {
  text-align: justify;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}