body {
  background: #855;
  color: #fff;
}

a {
  color: #fff;
  outline: 0 none;
  text-decoration: underline;
  text-rendering: optimizelegibility;
}

a:focus,
a:active,
a:hover {
  outline: 0 none;
  text-shadow: 0 0 2px #fff;
}

a:active {
  padding-top: 2px;
}